body {
    font-size: 0.9em;
}

table {
    font-size: 0.9em;
}

.only-mobile table {
    font-size: 1em;
}

.btn {
    font-size: 0.9em;
}

.coins-container .coin-container,
.currencies-container .currency-container {
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.coins-container .list-group-item.active,
.currencies-container .list-group-item.active {
    background-color: #D3C69A;
    border-color: rgba(243, 163, 12, 0.5);
}

.coins-container .coin-container .coin-name {
    color: gray;
}

.links .material-icons {
    position: absolute;
}

.coins-table tbody td,
.coins-table thead th {
    text-align: center;
}

.coins-table .thead-dark th {
    /* background-color: #D3C69A; */
    border-color: rgba(243, 163, 12, 0.2);
}

.coin-img img {
    width: 20px;
}

.coin-img-desk img {
    width: 40px;
}

.holding {
    padding-top: 70px;
}

.lefty {
    text-align: left !important;
    padding-left: 30px !important;
}

.page-container {
    padding-top: 0px;
}

.btn-info {
    background-color: rgba(243, 163, 12, 0);
    border-color: red;
    color: red;
    border-radius: 0px !important;
    margin-top: 12px;
    padding: 8px 4px;
}

.btn-info:hover {
    background-color: #D3C69A;
    border-color: red;
    color: red;
    border-radius: 0px !important;
    margin-top: 12px;
    padding: 8px 4px;
}

/* .coins-table {
    margin-left: 15% !important;
    width: 70%;
} */

/*new style*/
/* .coins-table .thead-dark th {
    background-image: url(/img/gold-texture.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    border: none !important;
    font-size: 1.2em;
    font-weight: bold;
    padding: 14px 0;
} */

/* 
.coins-table tbody td {
    padding: 18px 0;
    vertical-align: top;
    border-top: none !important;
    background-color: #F8F8F8;
    font-weight: bold;
    font-size: 1.2em;
    color: #4F4F4F;
} */

.coins-table tbody td a {
    color: #4F4F4F;
    text-decoration: none;
}

.title-page-1 {
    font-size: 4em;
    margin: 0 0 20px 0;
    color: #35571A;
    text-decoration: none;
    text-transform: uppercase;
}

.sub-title-page-1 {
    font-size: 1.4em;
    padding: 20px;
    color: #35571A;
    text-decoration: none;
    background-color: #F8F8F8;
    font-weight: bold;
}

.gray-space {
    height: 50px;
    background-color: #F8F8F8;
}

.white-space {
    height: 50px;
    background-color: #ffffff;
}

.transparent-space {
    height: 50px;
    background-color: transparent;
}

.makeup-btn-dark-green {
    border-radius: 10px;
    background-color: #35571A;
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 110px;
    margin-top: -7px;
    padding: 10px;
}

.bg-gray {
    background-color: #F8F8F8;
}

.bg-yellow {
    background-image: url(/img/gold-texture.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
}

.fixer {
    width: 10%;
}

.show-my-funds-chart {
    cursor: pointer;
    color: gray;
    font-weight: bold;
    font-size: 26px;
}

.ref-funds a {
    max-width: none !important;
    width: 100%;
}

.table-legends {
    width: 15% !important;
}

.table-no-legends {
    width: 40% !important;
}

@media (max-width: 767px) {
    .btn-left {
        display: inline-block;
        width: 47%;
        margin-right: 6px;
    }

    .btn-right {
        display: inline-block;
        width: 47%;
        margin-left: 6px;
    }

    .pre-title {
        padding: 16px 10px;
    }

    .post-title {
        padding: 1rem 10px;
    }

    .coins-container .coin-container,
    .currencies-container .currency-container {
        border-bottom: none;
        padding: 10px;
        background-color: #F8F8F8;
    }

    .coins-container .coin-container a,
    .currencies-container .currency-container a {
        color: #4F4F4F;
    }

    .makeup-btn-dark-green {
        max-width: none;
    }
}