body {
  font-family: SFPro;
}

.gx-50 {
  --bs-gutter-x: 2rem;
}

.hero-news {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  text-align: center;
  min-height: 70vh;
}
.hero-news .hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero-news .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.hero-news .hero-content {
  position: relative;
  z-index: 1;
  max-width: 700px;
  margin: 0 auto;
  padding: 80px 20px;
  color: #fff;
}
.hero-news .hero-content h1 {
  font-size: 53px;
  font-weight: 800;
}
@media (max-width: 768px) {
  .hero-news .hero-content h1 {
    font-size: 40px;
  }
}
.hero-news .hero-content p {
  font-size: 28px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .hero-news .hero-content p {
    font-size: 20px;
  }
}
.hero-news .hero-content .btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #FFD700;
  color: #1d1d1d;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.news-section {
  padding: 60px 0;
}
.news-section h2 {
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 20px;
}
.news-section .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.news-section .col-md-8 {
  flex: 2;
}
.news-section .col-md-4 {
  flex: 1;
}
.news-section .news-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.news-section .news-card img {
  width: 100%;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media (max-width: 768px) {
  .news-section .news-card img {
    height: 300px;
  }
}
.news-section .news-card .news-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.news-section .news-card .news-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  color: #fff;
  font-size: 16px;
  z-index: 2;
}
@media (max-width: 768px) {
  .news-section .news-card .news-content {
    padding: 19px;
  }
}
.news-section .news-card .news-content h3 {
  font-size: 29px;
  font-weight: 700;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .news-section .news-card .news-content h3 {
    font-size: 21px;
  }
}
.news-section .news-card .news-content p {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .news-section .news-card .news-content p {
    font-size: 16px;
  }
}
.news-section .news-card .news-content a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
.news-section .recent-news h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 30px;
}
.news-section .recent-news .recent-news-link {
  text-decoration: none;
  display: block;
  color: white;
}
.news-section .recent-news .recent-news-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.news-section .recent-news .recent-news-card img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.news-section .recent-news .recent-news-card .news-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.news-section .recent-news .recent-news-card .recent-news-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  z-index: 2;
}
.news-section .recent-news .recent-news-card .recent-news-content p {
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col-md-8, .col-md-4 {
    width: 100%;
  }
}

/*# sourceMappingURL=latest_news.css.map*/