
@media (max-width: 767px) {
    .register-form{
        width: 92% !important;
        margin-left: 4% !important;
        background-image: none !important;
    }
    .btn-yellow {
        max-width: none;
    }
    .latest-footer .payment{
        display: none;
    }
    .container-form .buttons-container{
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .container-form .btn-yellow{
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 1.5em;
        float: none !important;
    }
    .container-form{
        width: 100% !important;
        height: auto !important;
        padding-bottom: 1.8em;
        background-image: none !important;
    }
    .container {
        padding: 0 !important;
        margin: 0 !important;
    }
    .page-container{
        width: 100% !important;
        padding: 0 0.8em !important;
    }
    .btn-reset {
        width: 100% !important;
    }
}
.txt-bg {
    padding: 50px 40px 0 0 !important;
    text-align: justify;
    margin-left: -20px;
}

.register-form{
    width: 70%;
    margin-left: 15%;
    height: 32rem;
    background-image: url(/img/form-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}