.banner-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  font-size: 64px;
  color: white !important;
  font-weight: 700;
  line-height: 76px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: SFPro;
  max-width: 800px;
}

.banner-img-container {
  position: relative;
}

.banner-img-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.section-1{
  font-family: SFPro;
  background: #F5F5F5;
  padding: 100px 0;
}

.section-2{
  font-family: SFPro;
  background: #FFFFFF;
  padding: 100px 0;
}

.section-title{
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  color: #1E2026;
}

.section-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #4F4F4F;
}

.section-text b{
  color: #1E2026;
}

.services-section {
  font-family: SFPro;
  background: #F5F5F5;
  padding: 100px 0;
}

.services-section .service-box {
  padding: 20px;
  gap: 10px;
  font-family: SFPro;
}
.services-section .icon img {
  width: 80px;
  height: 80px;
}

.services-section .service-box h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #1E2026;
}

.services-section .service-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #7C7E85;
}

.what-refine i {
  color: #FFD805;
  font-size: 24px;
  margin-right: 5px;
}

.what-refine li {
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
  color: #7C7E85;
}

.what-refine em {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #7C7E85;
}

.why-choose-us-section {
  font-family: SFPro;
  background: #FAFAFA;
  padding: 100px 0;
}

.why-choose-us-section img {
  width: 60px;
  height: 60px;
}

.why-choose-us-section h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #4F4F4F;
  text-transform: uppercase;
}

.why-choose-us-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #7C7E85;
}

.why-choose-us-section .gx-10 {
  --bs-gutter-x:150px;
}

@media (max-width: 768px) {
  .banner-text {
    font-size: 36px;
    line-height: 42px;
    max-width: 800px;
    min-width: 300px;
  }

  .section-title {
    font-size: 25px !important;
    line-height: 28px;
  }

  .what-refine li {
    font-size: 20px;
}
}