:root {
    --primary: #ffd805;
    --primary-light: #ffe033;

    --green: #00BF76;
    --red: #e65764;

    --grey: #7c7e85;
    --grey-shade: #4f4f4f;

    --light-grey: #e6e6e6;
    --lighther-grey: #f1f1f1;

    --black: #1e2026;
    --white: #fafafa;
    --white-grey: #f5f5f5;
}