// Oleo Script Swash Caps
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");

// Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Molle
@import url("https://fonts.googleapis.com/css2?family=Molle&display=swap");

// SF Pro Display
@font-face {
  font-family: SFPro;
  src: url(../../public/fonts/SF-Pro-Display-Thin.woff2);
  font-weight: 100;
}

@font-face {
  font-family: SFPro;
  src: url(../../public/fonts/SF-Pro-Display-Ultralight.woff2);
  font-weight: 200;
}

@font-face {
  font-family: SFPro;
  src: url(../../public/fonts/SF-Pro-Display-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: SFPro;
  src: url(../../public/fonts/SF-Pro-Display-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: SFPro;
  src: url(../../public/fonts/SF-Pro-Display-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: SFPro;
  src: url(../../public/fonts/SF-Pro-Display-Semibold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: SFPro;
  src: url(../../public/fonts/SF-Pro-Display-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: SFPro;
  src: url(../../public/fonts/SF-Pro-Display-Heavy.woff2);
  font-weight: 800;
}

@font-face {
  font-family: SFPro;
  src: url(../../public/fonts/SF-Pro-Display-Black.woff2);
  font-weight: 900;
}
