.price-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--white);
  font-family: SFPro;

  .bordered-home-prices {
    padding: 0px 2rem;

    .ti_wrapper {
      width: 100%;
      position: relative;

      .ti_slide {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        left: 0;
        top: 0;

        .ti_content {
          width: 100%;
          position: relative;
          display: flex;
          gap: 0.25rem 2rem;
          justify-content: center;
        }

        .top_title {
          font-size: 13px;
          font-weight: 700;
          white-space: nowrap;
          color: #1E2026;
          margin-top: 0;
        }
      }
    }

    .ti_news {
      display: flex;
      gap: 2rem;

      .price-element {
        display: flex;
        gap: 0px;

        .text-right {
          width: fit-content;
          margin-right: 0.5rem;
        }

        .text-center {
          width: fit-content;
        }

        .text-left {
          width: fit-content;

          span {
            font-family: SFPro;
            font-size: 1rem;
            font-weight: 700;
            line-height: 15.51px;
            text-align: left;
          }
        }
      }
    }

    .cogreen {
      color: var(--green) !important;
      font-weight: bold;
    }

    .cored {
      color: var(--red) !important;
      font-weight: bold;
    }
  }
}

.header-new {
  padding: 1.25rem 0px;
  border-bottom: 2px solid #e6e6e6;
  position: relative;
  z-index: 9 !important;
}

.header-border {
  z-index: 9 !important;
}

.new-logo-container {
  margin-top: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 2rem;

  @media screen and (max-width: 1200px) {
    margin: 0px;
    padding: 1rem 0;
    display: block;
  }

  a.header-logo-container {
    font-family: SFPro;
    color: var(--black);
    font-weight: 500;
    position: relative;
    display: flex;

    .logo {
      width: 200px;

      @media screen and (max-width: 768px) {
        width: 165px;
      }
    }

    .link {
      position: absolute;
      right: calc(100% - 2.5rem);
      bottom: calc(100% - 1.5rem);
    }

    .title {
      h1 {
        display: inline-block;
        padding: 12px;
        color: #ffffff;
        font-size: 1.3em;
      }
    }
  }

  nav {
    margin-right: auto;

    .menu-item {
      a {
        font-family: SFPro;
        color: var(--black);
        font-weight: 500;
        position: relative;
      }
    }
  }

  .right {
    display: flex;

    @media screen and (max-width: 1200px) {
      justify-content: end;
    }
  }
}

#menu-desktop-public {
  display: inline;

  @media screen and (max-width: 1200px) {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  >li {
    display: table-cell;
    text-align: center;
    position: relative;
    background-color: transparent;
    border-left: none;
    border-top: none;
    padding: 14px 20px 14px 0;
  }

  a {
    font-size: 19px;
  }

  >li.current-menu-item {
    background-color: transparent !important;

    a {
      font-size: 1.3em;
      font-weight: bold;
      color: #ffffff;
    }
  }
}

#menu-desktop-user {
  a {
    font-size: 1.3em;
  }

  >li.current-menu-item {
    background-color: transparent !important;

    a {
      font-size: 1.3em;
      font-weight: bold;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 1200px) {
  .price-bar {
    .bordered-home-prices {
      .ti_wrapper {
        .ti_slide {
          padding-top: 1rem;

          .ti_content {
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .new-logo-container {
    nav {
      display: block;
    }
  }
}

.mobile-menu-buttons {
  float: right;
  display: none;
  color: #f3a30c;
  text-align: center;

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
  }

  .navbar-toggler-icon-img {
    filter: invert(1);
    scale: 0.5;
  }
}

header {
  .cart {
    position: relative;

    .cart-quantity {
      width: 1.15rem;
      height: 1.15rem;
      padding-bottom: 1px;
      position: absolute;
      border-radius: 1000px;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: -0.1rem;
      right: -0.25rem;
      background-color: var(--primary);
      line-height: 0;

      color: black;
      font-size: 0.7rem;
      font-weight: 600;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    }

    img {
      height: 1.75rem;
    }
  }

  .search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 25px;
    i{
      font-size: 1.5rem;
      color: var(--black);
      font-weight: 500;
    }

    .input-div-lg{
      // display: flex;
      width: 350px;
      margin-right: 25px;
      position: relative;
    }

    input{
      font-size: 16px;
      font-weight: 400;
      color: #1E2026;
      border-radius: 5px;
      padding-left: 10px;
      border: 1px solid #E6E6E6;
      line-height: 19px;
      height: 49px;
      margin-bottom: 0px;
      margin-right: 20px;
      width: 100%;
    }
    input:focus{
      border-color: #FFD805 !important;
      box-shadow: 0 0 0 0.03rem rgba(255, 216, 5, 0.25) !important;
      outline: none;
    }

    input::placeholder{
      font-size: 16px;
      font-weight: 400;
      color: #c6c6c6;
    }
  }
  
}

.search-results {
  display: block;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  width: 100%;
  z-index: 1050;

  .search-results-container {
    padding: 1rem;

    .search-results-item {
      margin-bottom: 0.7rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #dee2e6;

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
      }

      a {
        text-decoration: none !important;
        color: #212529 !important;
        text-transform: none !important;
        width: 100%;
        display: block;
        line-height: 26px;

        &:hover {
          text-decoration: underline;
          color: #FFD805;
        }
      }
    }
  }
}

.search-results-md {
  position: relative;
  width: 100%;
  top: -2px;
}