@import 'banner';


.home-banner-benefits {
  padding: 6rem 0px;
  display: flex;
  justify-content: center;
  background: white;


  .content {
    // max-width: 1080px;
    width: 100%;
    // margin: 0px 4rem;
    display: flex;
    align-items: center;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      gap: 4rem;

      .vertical {
        display: none !important;
      }
    }

    hr {
      background: #9e9e9e;
      width: 1px !important;
    }

    .container {
      display: flex;
      flex-direction: column;
      width: 350px;
      // margin: auto;
      // align-items: center;
    }

    @media screen and (max-width: 768px) {
      .container {
        width: 100%;
      }
    }

    .container:first-child {
      margin-left: 0 !important;
    }

    .container:last-child {
      margin-right: 0 !important;
    }

    h2 {
      font-family: SFPro;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--grey-shade);
    }

    p {
      font-family: SFPro;
      font-size: 16px;
      color: var(--grey);
    }

    .icon {
      width: 60px;
      height: 60px;
      object-fit: cover;
      margin-bottom: 30px;
    }
  }

}

.home-container {


  .live-quotes {
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 30px;
    font-family: SFPro;
    color: var(--black);

    h2 {
      margin-bottom: 2rem;
      font-size: 36px;
      font-weight: 600;
      color: var(--black);
    }

    .quote-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      justify-content: space-between;

      .quote {
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background: var(--lighther-grey);
        border-radius: 10px;

        h3 {
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
        }

        a {
          background: #E6E6E6;
          width: 35px;
          height: 35px;
          border-radius: 100%;
          display: flex;
          i {
            color: #7C7E85;
            font-size: 17px;
            font-weight: 600;
            margin: auto;
          }
        }

        .price {
          display: flex;
          justify-content: space-between;
          font-size: 20px;

          @media screen and (max-width: 992px) {
            display: block;
          }

          h4 {
            color: var(--grey);
            font-weight: 500;
            font-size: 20px;
          }

          .live-value {
            color: var(--green) !important;
            font-weight: bold;
          }
        }

      }
    }
  }

  #product-slider-container-reference {
    padding: 50px 0px;
    h2 {
      color: var(--black);
      font-family: SFPro;
      font-size: 36px;
      font-weight: 600;
    }

    .slider-product {
      width: 100%;
      height: fit-content;
      // padding: 2rem 0px;
      position: relative;
      border-radius: 4px;
      display: flex;
      // gap: 2rem;

      // @media screen and (max-width: 992px) {
      //   display: grid;
      //   grid-template-columns: repeat(2, 1fr);
      // }

      // @media screen and (max-width: 576px) {
      //   grid-template-columns: repeat(1, 1fr);
      //   justify-items: center;
      // }

      ul {
        position: relative;
        margin: 0;
        padding: 0;
        height: 280px;
        list-style: none;

        li {
          position: relative;
          display: block;
          float: left;
          margin: 0;
          padding: 0;
          width: 350px;
          height: 650px;
          background: #FFFFFF;
          text-align: center;
        }
      }

      .product-col {
        width: 290px;
        height: 375px;
        margin: auto;
        // flex: 1;

        @media screen and (max-width: 768px) {
          height: fit-content;
        }
      }

      .desk-product-box-slider-container {
        height: 100%;
        padding: 20px !important;
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: 4px 4px 20px var(--light-grey);
        color: var(--black);

        .main-bar {
          height: 4px;
          width: 50px;
          display: block;
          margin: 10px auto;
          margin-bottom: 18px;
        }

        .button {
          width: 150px;
          padding: 0.5rem 0px;
          margin-top: 12px;
          margin-bottom: 16px;
          background-color: var(--primary) !important;
          color: var(--black) !important;
          text-transform: uppercase;
          font-weight: bold;
          cursor: pointer;
          box-shadow: none;
          outline: 0 !important;
          border-radius: 5px;
          border: none !important;
          font-family: SFPro;
        }
      }

      .product-box-slider {
        height: 100% !important;
        margin: auto !important;

        .product-image {
          padding: 0 !important;
          margin-bottom: 2rem;
          display: flex;
          justify-content: center;
          height: 40%;

          img {
            height: 86%;
            width: auto;
            margin: auto;
            height: 120px;
            width: auto;
            max-width: 100%;
            max-height: auto;
          }
        }

        .product-name {
          font-size: 16px;
          color: var(--grey-shade) !important;
          height: 15%;
          color: var(--black);
          font-family: SFPro;
          text-align: center;
        }

        .product-price {
          margin-bottom: 2rem;
          color: var(--grey-shade);
          text-transform: uppercase;
          font-size: 20px;
          font-weight: bold;
          height: 15%;
          color: var(--black);
          font-family: SFPro;
          text-align: center;
        }

        .main-bar {
          height: 15%;
          color: var(--black);
          font-family: SFPro;
          text-align: center;
        }

        .product-buy-button {
          height: 15%;
          color: var(--black);
          font-family: SFPro;
          text-align: center;

          .button {
            margin: 0px auto;
          }
        }
      }
    }

    .allproducts {
      margin-left: auto;
      text-align: right;
      margin-top: 1.5rem;

      a {
        font-family: SFPro;
        color: var(--grey) !important;
        font-size: 16px;
      }
    }
  }

  @media (max-width: 1400px) {
    #slider-product {
      ul {
        li {
          width: 100%;
          height: 400px;
        }
      }
    }

    .col-product-slider-mobile {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
  }

  .desktop-product-slider {
    .product-box-slider-container {
      margin-top: 10px;

      .main-bar {
        background-color: #C4C4C4;
        height: 4px;
        width: 50px;
        display: block;
        margin: 10px auto;
        margin-bottom: 18px;
      }

      .new-add-to-cart-button {
        background-color: #F3A30C !important;
        color: #FFFFFF !important;
        text-transform: uppercase;
        font-weight: bold;
        width: 120px;
        padding: 16px 10px;
        cursor: pointer;
        box-shadow: none;
        outline: 0 !important;
        border: none !important;
        margin-top: 12px;
        margin-bottom: 16px;
      }
    }
  }

  .holder-benefits {
    padding: 5rem 0px 7rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      margin-bottom: 2rem;
      color: var(--black);
      font-size: 36px;
      font-weight: 600;
      font-family: SFPro;
    }

    .details {
      margin-bottom: 2rem;
      color: var(--grey);
      font-size: 20px;
      font-weight: 500;
      font-family: SFPro;
    }
  }

  .home-info {
    ul {
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 2rem;
      }
    }
  }

  .prices-container,
  .options-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;

    .price {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--black);
      text-decoration: none !important;

      .name {
        height: 1.5rem;
        font-family: SFPro;
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--black);
        text-decoration: none !important;

      }

      .details {
        display: flex;
        align-items: center;
      }

      .value {
        font-size: 0.7rem !important;
        font-weight: 500;
      }

      i {
        color: var(--black);
      }
    }
  }

  .options-container {
    justify-content: space-evenly;

    a {
      color: var(--black);
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        background-color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;

        i {
          color: white;
        }

      }

      .name {
        font-weight: 400;
        font-family: SFPro;
      }

    }
  }
}