.modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: none;

  &.active {
    display: block;
  }

  > div {
    position: relative;
  }

  #modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
